@{
    ViewBag.Title = "LogIn";
}
<link href="~/Content/AuthorizationStyle.css" rel="stylesheet" />

<form action="/Authorization/SignIn" method="post">
    <span class="login">Login: </span>
    <input type="text" name="property" value="" /><br />

    <span>Password: </span>
    <input type="password" name="property" value="" /> <br /> <br />

    <input type="submit" name="submit" value="Войти" /> <br />
</form>
<a href="/Authorization/Registration">content</a>
@*<input class="registerButton" type="button" name="registration" value="Зарегистрироватся" />*@
