@{
    ViewBag.Title = "Registration";
}
<link href="~/Content/AuthorizationStyle.css" rel="stylesheet" />

<form action="/Authorization/SignUp" method="post">
    <span>FullName: </span>
    <input type="text" name="property" value="" /><br />
    <span>Login: </span>
    <input type="text" name="property" value="" /><br />
    <span>Password: </span>
    <input type="password" name="property" value="" /> <br /> <br />
    <span>IsAdmin: </span>
    <input type="text" name="property" value="" ><br />
    <input type="button" name="submit" value="Войти" /> <br />
</form>
